* { box-sizing: border-box; }

canvas {
    border: 1px dotted #aaa;
}
textarea {
    float: left;
}

.row {
	padding-top: 20px;
	padding-bottom: 20px;
}

#logo {
	margin-top: -4px;
	padding-right: 5px;
}
